<div class="share">
  <div class="share-fb">
    <div class="fb-like" data-href="{% if page.original_url %}{{ page.original_url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>
  <div class="share-tw">
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="{% if page.original_url %}{{ page.original_url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" data-lang="en">Tweet</a>
  </div>
  <div class="share-gp">
    <g:plusone size="medium" count="true" href="{% if page.original_url %}{{ page.original_url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}"></g:plusone>
  </div>
</div>
