figure {
  text-align: center;
  margin: 25px auto;
  max-width: 100%;
}

figure.left {
  float: left;
  margin: 5px 25px 10px 0;
}

figure.right {
  float: right;
  margin: 5px 0 10px 25px;
}

.figure-container {
  display: flex;
  flex-direction: column;
}

figcaption {
  font-size: smaller;
  text-align: center;
}

.figure-bg {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0.0, 0.0, 0.0, 0.8);
}

.figure-bg img {
  background-color: white;
  margin: auto;
  position: absolute;
  top: -10px;
  left:0;
  right:0;
  bottom: 0;
  max-height: 90%;
  max-width: 90%;
}

.figure-bg figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.figure-bg figcaption a {
  color: #EEE;
  font-weight: bold;
}
