gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}

figcaption {
  font-size: smaller;
}
