.share {
  display: flex;
  margin: 10px 0 25px;
  font-size: 1px;
}
.share > div {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  width: 110px;
}
.share iframe {
  vertical-align: baseline;
}
