{% if page.title %}
  {% capture title %}{{ page.title }} – {{ site.name }}{% endcapture %}
{% else %}
  {% capture title %}{{ site.name }}{% endcapture %}
{% endif %}
{% if page.description %}
  {% capture description %}{{ page.description }}{% endcapture %}
{% else %}
  {% capture description %}{{ site.name }} – {{ site.description }}{% endcapture %}
{% endif %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{{ title }}</title>

    <meta name="author" content="Stefano Maggiolo">
    <meta name="description" content="{{ description }}">

    <meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="{{ description }}">
    {% if page.image %}<meta itemprop="image" content="{{ page.image }}">{% endif %}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@zzzviad">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="@zzzviad">
    {% if page.image %}<meta name="twitter:image" content="http://www.example.com/image.jpg">{% endif %}

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:author" content="https://plus.google.com/+StefanoMaggiolo/">
    <meta property="fb:app_id" content="516709741804674">
    {% if page.image %}<meta property="og:image" content="{{ page.image }}">{% endif %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml" />

    {% if page.latex %}
    <script async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}

    <script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Ek+Mukta:200,600' rel='stylesheet' type='text/css'>

    <script async type="text/javascript" src="http://apis.google.com/js/plusone.js?ver=4.1"></script>
    <script async type="text/javascript" src="http://platform.twitter.com/widgets.js?ver=4.1"></script>

    <script>
      {% include figure.js %}
    </script>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '516709741804674',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/lecture-notes">Lecture notes</a>
            <a href="{{ site.baseurl }}/math">Math</a>
            <a href="{{ site.baseurl }}/software">Software</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>
        </header>
      </div>
    </div>

    {% include adsense.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
